
/*Primi Piatti*/

.primi-showcase .title-page h1{
    font-size: 60px;
    color: white;
    text-transform: capitalize;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 40%;
    
}

.primi-showcase{
    background-image: url("../samples/primi_showcase.JPEG");
    background-size: cover;
    height: 20em;
    background-repeat: repeat-x;
    max-width: 100%;
    background-position: 40%;
    
}

.primi-special-section{
    background-image: url("../samples/yellow-back.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: max-content;
    background-position-y: -500px;
    margin-bottom: 60px;
}

.primi-classics-container{
    padding-top: 200px;
    padding-left: 100px;
    display: inline-grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.primi-special-container{
    padding-left: 100px;
    padding-top: 40px;
    display: inline-grid;
    gap: 30px;
    grid-template-columns: repeat(2, 3fr);
    align-items: center;
    text-align: center;

}

.primi-classics-sub-container p{
    background-color: rgb(255,217,0);
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    padding: 30px 30px;
    float: left;
}

.primi-classics-container img, .primi-special-container img{
    width: 50%;
    height: 60vh;
    object-fit: cover;
    border-radius: 20px;
}

.primi-classics-container p, .primi-special-container p{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 130px;
    color: black;
    text-align: center;
}

.primi-separatore{
    background-color: brown;
    height: 10vh;
}

.primi-separatore h2{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}

#cla-spe-3{
    padding-left: 100px;
}


/*Finger Food section*/
.fried-showcase .title-page h1{
    font-size: 54px;
    color: white;
    -webkit-text-stroke: 1px brown;
    text-transform: capitalize;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 40%;
}

.fried-showcase{
    background-image: url("../samples/fingerFood_showcase.JPEG");
    background-size: cover;
    height: 20em;
    background-repeat: repeat-x;
    max-width: 100%;
    background-position: 40%;
}

.fingerfood img{
    width: 80%;
    height: 60vh;
    object-fit: cover;
}

.fingerfood-container{
    margin: 30px 30px;
    padding-top: 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}


.fingerfood-text{
    background-color: rgb(255, 196, 0);
    width: 60%;
    padding: 30px 70px;
    float: center;
    margin: 30px 30px;
    border-radius: 5px;
}


.fingerfood-text p{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: black;
    
}

.fingerfood-text h2{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


/*Hamburger section*/
.hamburger-showcase .title-page h1{
    font-size: 60px;
    color: rgb(255, 221, 0);
    text-transform: capitalize;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 38%;
}

.hamburger-showcase{
    background-image: url("../samples/hamburger_showcase.JPEG");
    background-size: cover;
    height: 20em;
    background-repeat: repeat-x;
    max-width: 100%;
    background-position: 40%;
    
}

.burgers img, .burgers-maxi img, .burgers-special img{
    width: 80%;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}



.burger-container, .burger-maxi-container, .burger-special-container{
    margin: 30px 30px;
    padding-top: 100px;
    display: inline-grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.burger-maxi-section{
    background-color: brown;
}


.burger-maxi-text, .burger-text, .burger-special-text{
    background-color: rgb(255, 196, 0);
    width: 70%;
    padding: 30px 70px;
    float: center;
    margin: 30px 30px;
    border-radius: 5px;
}


.burgers p, .burgers-maxi p{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: black;
    
}

.burgers h2, .burgers-maxi h2{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.burger-special-text{
    background-color: brown;
    width: 70%;
    padding: 30px 70px;
    float: center;
    margin: 30px;
    border-radius: 5px;
}

.burger-special-text p{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: white;
}

.burger-special-text h2{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

.burger-special-section{
    margin-top: 130px;
    margin-bottom: none;
}

.burger-separatore{
    background-color: brown;
    height: 10vh;
}

.burger-maxi-separatore{
    background-color: white;
}

.burger-special-separatore{
    background-color: rgb(243, 187, 2);
}

.burger-maxi-separatore{
    background-color: brown;
    height: 10vh;
    border-left: 15px double rgb(243, 187, 2);
    border-right: 15px double rgb(243, 187, 2);
    border-top: 2px solid rgb(243, 187, 2);
    border-bottom: 2px solid rgb(243, 187, 2);
}

.burger-special-separatore{
    background-color: rgb(243, 187, 2);
    height: 10vh;
    margin-bottom: none;
    border-left: 15px double brown;
    border-right: 15px double brown;
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
}

.burger-separatore h2, .burger-maxi-separatore h2, .burger-special-separatore h2{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}



/*TexMex section*/
.texmex-showcase .title-page h1{
    font-size: 60px;
    color: white;
    text-transform: capitalize;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 40%;
}

.texmex-showcase{
    background-image: url("../samples/texmex_showcase.JPEG");
    background-size: cover;
    height: 20em;
    background-repeat: repeat-x;
    width: 100%;
    background-position: 40%;
}

.texmex img, .texmex-nachos img{
    width: 90%;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}


.texmex-nachos-container{
    margin: 30px 20px;
    padding-top: 100px;
    display: inline-grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.texmex-container{
    margin: 30px 30px;
    padding-top: 100px;
    display: inline-grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.texmex-text{
    background-color: rgb(255, 196, 0);
    width: 70%;
    padding: 30px 70px;
    float: center;
    margin: 30px 10px;
    border-radius: 5px;
}

.texmex-nachos-text{
    background-color: rgb(17, 56, 114);
    width: 70%;
    padding: 30px 70px;
    float: center;
    margin: 30px 30px;
    border-radius: 5px;
}

.texmex-nachos-text p{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: whitesmoke;
}

.texmex-nachos-text h2{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.texmex-text p{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: black;
    
}

.texmex-text h2{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


/*Grill section*/
.grill-showcase .title-page h1{
    font-size: 60px;
    color: whitesmoke;
    text-transform: capitalize;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 44%;
}

.grill-showcase{
    background-image: url("../samples/grill_showcase.JPEG");
    background-size: cover;
    height: 20em;
    background-repeat: repeat-x;
    width: 100%;
    background-position: 40%;
}

.grill img{
    width: 70%;
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
}

.grill-container{
    margin: 30px 30px;
    padding-top: 100px;
    display: inline-grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.grill-text{
    background-color: brown;
    width: 70%;
    padding: 30px 70px;
    float: center;
    margin: 30px 30px;
    border-radius: 5px;
}

.grill p{
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: whitesmoke;
    
}

.grill h2{
    text-align: center;
    font-size: 4em;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}




/*Veggy section*/
.veggy-showcase .title-page h1{
    font-size: 60px;
    color: rgb(255, 225, 0);
    text-transform: capitalize;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 43%;
}

.veggy-showcase{
    background-image: url("../samples/veggy_showcase_dark.jpg");
    background-size: cover;
    height: 20em;
    background-repeat: repeat-x;
    width: 100%;
    background-position: 40%;
}

.veggy img{
    width: 70%;
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
}

.veggy-container{
    margin: 30px 30px;
    padding-top: 100px;
    display: inline-grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.veggy-text{
    background-color: rgb(28, 165, 28);
    width: 70%;
    padding: 30px 70px;
    float: center;
    margin: 30px 30px;
    border-radius: 5px;
}

.veggy p{
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: whitesmoke;
    
}

.veggy h2{
    text-align: center;
    font-size: 4em;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}




/*Hot dog section*/
.hotdog-showcase .title-page h1{
    font-size: 60px;
    color: white;
    -webkit-text-stroke: 1px brown;
    text-transform: capitalize;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 40%;
}

.hotdog-showcase{
    background-image: url("../samples/hotdog_showcase.JPEG");
    background-size: cover;
    height: 20em;
    background-repeat: repeat-x;
    width: 100%;
    background-position: 40%;
}

.hotdog img{
    width: 80%;
    height: 60vh;
    object-fit: cover;
    border-radius: 50%;
}

.hotdog-container{
    margin: 30px 30px;
    padding-top: 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}



.hotdog-text{
    background-color: rgb(255, 196, 0);
    width: 60%;
    padding: 30px 70px;
    float: center;
    margin: 30px 30px;
    border-radius: 5px;
}


.hotdog-text p{
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: black;
    
}

.hotdog-text h2{
    text-align: center;
    font-size: 4em;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


/*Salads section*/
.salads-showcase .title-page h1{
    font-size: 54px;
    color: whitesmoke;
    -webkit-text-stroke: 1px rgb(124, 27, 27);
    text-transform: capitalize;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 45%;
}

.salads-showcase{
    background-image: url("../samples/salads_showcase.JPEG");
    background-size: cover;
    height: 50vh;
    background-repeat: repeat-x;
    width: 100%;
    background-position: 40%;
}

.salads img{
    width: 70%;
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
}

.salads-container{
    margin: 30px 30px;
    padding-top: 100px;
    display: inline-grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.salads-text{
    background-color: rgb(28, 165, 28);
    width: 70%;
    padding: 30px 70px;
    float: center;
    margin: 30px 30px;
    border-radius: 5px;
}

.salads p{
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: whitesmoke;
    
}

.salads h2{
    text-align: center;
    font-size: 4em;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}


/*Celtics section*/
.celtics-showcase{
    background-image: url("../samples/celtics_showcase.JPEG");
    background-size: cover;
    height: 20em;
    background-repeat: repeat-x;
    width: 100%;
    background-position: 40%;   
}

.fingerfood-glutenfree{
    background-color: brown;
    margin: 30px 30px;
    align-items: center;
    text-align: center;
}

.burgers-glutenfree, .salads-glutenfree{
    background-color: rgb(255, 196, 0);
    margin: 30px 30px;
    align-items: center;
    text-align: center;
}

.texmex-glutenfree{
    background-color: rgb(24, 105, 227);
    margin: 30px 30px;
    align-items: center;
    text-align: center;
}

.grill-glutenfree{
    background-color: whitesmoke;
    margin: 30px 30px;
    align-items: center;
    text-align: center;
}

.veggy-glutenfree, .primi-glutenfree{
    background-color: rgb(28, 123, 28);
    margin: 30px 30px;
    align-items: center;
    text-align: center;
}

.hotdog-glutenfree{
    background-color: brown;
    margin: 30px 30px;
    align-items: center;
    text-align: center;
}

.dessert-glutenfree{
    background-color: rgb(254, 213, 229);
    margin: 30px 30px;
    align-items: center;
    text-align: center;
}

.glutenfree-text, .glutenfree-text-white{
    padding: 30px;
}

.glutenfree-text p{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: black;
}

.glutenfree-text-white p{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: whitesmoke;
}

.glutenfree-text h2{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.glutenfree-text-white h2{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.title-glutenfree, .title-glutenfree-white{
    background-image: url("../images/retro_gluten.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    margin-top: 0px;
    padding-top: 60px;
    text-align: center;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 221, 0);
    -webkit-text-stroke: 1px black;
}


/*Dessert section*/
.dessert-showcase .title-page h1{
    font-size: 54px;
    color: white;
    -webkit-text-stroke: 1px rgb(243, 187, 2);
    text-transform: capitalize;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 45%;
}

.dessert-showcase{
    background-image: url("../samples/dessert_showcase.JPEG");
    background-size: cover;
    height: 20em;
    background-repeat: repeat-x;
    width: 100%;
    background-position: 40%;
    
}

.desserts img{
    width: 70%;
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
}

.dessert-container{
    margin: 30px 30px;
    padding-top: 100px;
    display: inline-grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.dessert-text{
    background-color: rgb(254, 213, 229);
    width: 70%;
    padding: 30px 70px;
    float: center;
    margin: 30px 30px;
    border-radius: 5px;
}

.desserts p{
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: rgb(172, 12, 12);
    
}

.desserts h2{
    text-align: center;
    font-size: 4em;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(172, 12, 12);
}



@media (max-width: 980px)  {
    /*Primi section*/

    .primi-classics-container, .primi-special-container{
        display: block;
        margin-bottom: 100px;
    }
    
    .primi-classics-sub-container{
        display: grid;
        background-color: white;
        
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .primi-classics-container img{
        width: 100%;
        height: 20vh;
        margin-bottom: 30px;
        object-fit: cover;
        align-items: center;
        justify-content: center;
    }

    .primi-special-container img{
        width: 100%;
        height: 30vh;
        margin-bottom: 30px;
        object-fit: cover;
        align-items: center;
        justify-content: center;
    }

    .primi-classics-container p{
        text-align: center;
        margin:0;
        margin-top: 80px;
        margin-bottom: 20px; 
        padding: 0;
	    font-size: 40px;
    }

    .primi-special-section .primi-special-container{
        background-color:rgb(255,217,0);  
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        padding: 50px 60px;
    }

    .primi-special-section h2{
	    font-size: 50px;
    }
 
    .primi-classics-sub-container p{
        background-color: white;
        width: 80%;
	    font-size: 40px;
    }

    .primi-special-container p{
        font-size: 40px;
        color: black;
        width: 100%;
        font-style: italic;
        text-align: center;
        margin-bottom: 25px;
        margin-top: 15px;
        margin-left: 0;
        padding-bottom: 20px;
    }

    #cla-spe-3{
        padding: 0;
        margin: 0;
    }

    /*Finger Food section*/
    .fried-showcase{
        /* height: ;
        width: 150%; */
    }

    .fingerfood img{
        width: 100%;
        height: 50vh;
	    margin-bottom: 0px;
    }

     
    .fingerfood-container{
        display: block;
        margin-bottom: 100px;
    
    }

    .fingerfood-text{
        width: 80%;
        margin-top: 0px;
        padding-top: 0px;
        float: center;
    }

    .fingerfood-text h2{
        font-size: 3em;
    }

    .fingerfood-text p{
        font-size: 3em;
    }

    .fried-showcase .title-page h1{
        font-size: 70px;
        margin-left: 35%;
    }

    .fingerfood{
        background-color: rgb(255, 196, 0);
        padding: 10px 10px;
        float: center;
        margin-bottom: 150px;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
    }

    /*Hamburger section*/

    .hamburger-showcase{
        height: 20em;
	    max-width: 100%;
    }

    .hamburger-showcase .title-page h1{
        font-size:70px;
        margin-left: 35%;
    }


    .burgers img, .burgers-maxi img, .burgers-special img{
        width: 100%;
        height: 50vh;
    }

     
    .burger-container, .burger-maxi-container, .burger-special-container{
        display: inline-block;
        margin-bottom: 100px;
        margin-right: 20px;
    }


    .burger-text, .burger-maxi-text{
        width: 80%;
        padding: 20px 30px;
        float: center;
        margin-bottom: 100px;
    }

    .burger-text p, .burger-maxi-text p{
        font-size: 3em;
    }

    .burger-text h2, .burger-maxi-text h2{
        font-size: 4em;
    }


    .burger-special-text{
        background-color: brown;
        width: 80%;
        padding: 20px 10px;
        float: center;
        margin-bottom: 100px;
        margin-left: 70px;
    }

    .burger-special-text p, .burger-special-text h2{
        color: white;
    }

    .burger-special-text p{
        font-size: 2em;
    }

    .burger-special-text h2{
        font-size: 3em;
    }

    .burgers, .burgers-maxi{
        background-color: rgb(255, 196, 0);
        height:min-content;
        margin-right: auto;
        margin-left: auto;
        max-width: 90%;
        padding: 0px 0px;
        margin-left: 70px;
        float: center;
        margin-bottom: 150px;
        border-radius: 30px;
    }

    .burger-maxi-section{
        max-width: 100%;
    }

    .burger-maxi-separatore, .burger-special-separatore{
        max-width: 100%;
    }

    .burger-maxi-separatore h2, .burger-special-separatore h2{
        font-size: 70px;
    }


    .burgers-special{
        background-color: brown;
        margin-right: auto;
        margin-left: auto;
        max-width: fit-content;
        padding: 0px 0px;
        float: center;
        margin-bottom: 150px;
        border-radius: 30px;
    }

    .burgers p{
        margin-bottom: 1em;
    }

    /*Texmex section*/

    .texmex-showcase{
        height: 20em;
	    width: 100%;
    }

    .texmex-showcase .title-page h1{
        margin-left: 35%;
        font-size: 70px;
    }

    .texmex img, .texmex-nachos img{
        width: 100%;
        height: 60vh;
    }

    .texmex{
        background-color: rgb(255, 196, 0);
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        float: center;
        padding: 0px 0px;
        padding-bottom: 2px;
        margin-bottom: 130px;
        border-radius: 30px;
    }

    .texmex-nachos{
        background-color: rgb(17, 56, 114);
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        float: center;
        padding: 0px 0px;
        padding-bottom: 2px;
        margin-bottom: 130px;
        border-radius: 30px;
    }

    .texmex-container, .texmex-nachos-container{
        display: block;
        margin-bottom: 100px;
    }

    .texmex-text{
        background-color: none;
        width: 80%;
        padding: 10px 30px;
        float: center;
        margin-bottom: 100px;
	    margin-left: 70px;
    }

    .texmex-nachos-text{
        background-color: none;
        width: 80%;
        padding: 10px 10px;
        float: center;
        margin-bottom: 100px;
	    margin-left: 70px;
    }

	.texmex-nachos-text p, .texmex-text p{
	    font-size: 2em;
    }

    .texmex-nachos-text h2, .texmex-text h2{
        font-size: 3em;
    }

    /*Grill section*/
    .grill-showcase{
        height: 20em;
	    width: 100%;
    }

    .grill-showcase .title-page h1{
        margin-left: 45%;
        font-size: 100px;
    }

    .grill{
        background-color: brown;
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        float: center;
        margin-bottom: 150px;
        border-radius: 30px;
    }

    .grill img{
        width: 100%;
        height: 60vh;
    }

    .grill-container{
        display: block;
        margin-bottom: 100px;
    }

    .grill-text{
        width: 80%;
        padding: 20px 40px;
        float: center;
        margin-bottom: 100px;
    }

	.grill-text h2{
		font-size: 3em;
	}

	.grill-text p{
		font-size: 2em;
	}


    /*Veggy section*/
    .veggy-showcase{
        height: 20em;
	    width: 100%;
    }

    .veggy-showcase .title-page h1{
        margin-left: 38%;
        font-size: 100px;
    }

    .veggy{
        background-color: rgb(28, 165, 28);
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        float: center;
        margin-bottom: 150px;
        border-radius: 30px;
    }

    .veggy img{
        width: 100%;
        height: 60vh;
    }

    .veggy-container{
        display: block;
        margin-bottom: 100px;
    }

    .veggy-text{
        width: 80%;
        padding: 20px 20px;
        float: center;
        margin-bottom: 100px;
    }

	.veggy-text h2{
		font-size: 3em;
	}

	.veggy-text p{
		font-size: 2em;
	}



    /*Hot dog section*/
    .hotdog-showcase{
        height: 20em;
	    width: 100%;
    }

    .hotdog-showcase .title-page h1{
        margin-left: 32%;
        font-size: 100px;
    }

    .hotdog img{
	    border-radius: 12px;
        width: 100%;
        height: 50vh;
    }

     
    .hotdog-container{
        display: block;
        margin-bottom: 100px;
	    
    }


    .hotdog-text{
        width: 80%;
        padding: 20px 20px;
        float: center;
    }

    .hotdog{
        background-color: rgb(255, 196, 0);
        padding: 10px 10px;
        float: center;
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        margin-bottom: 150px;
        border-radius: 15px;
    }

    /*Salads section*/
    .salads-showcase{
        height: 20em;
	    width: 100%;
    }

    .salads-showcase .title-page h1{
        margin-left: 40%;
	
	    font-size: 100px;
    }

    .salads{
        background-color: rgb(28, 165, 28);
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        float: center;
        margin-bottom: 150px;
        border-radius: 30px;
    }

    .salads img{
        width: 100%;
        height: 60vh;
    }

    .salads-container{
        display: block;
        margin-bottom: 100px;
    }

    .salads-text{
        width: 80%;
        padding: 20px 30px;
        float: center;
        margin-bottom: 100px;
    }


	/*Gluten section*/
    
    .celtics-showcase{
        width: 100%;
        height: 20em;
    }

    .glutenfree-text p, .glutenfree-text-white p{
        font-size: 2em;
    }


    /*Dessert section*/

    .dessert-showcase{
        height: 20em;
	    width: 100%;
    }

    .dessert-showcase .title-page h1{
        margin-left: 35%;
	    font-size: 100px;
    }

    .desserts{
        background-color: rgb(254, 213, 229);
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        float: center;
        margin-bottom: 150px;
        border-radius: 30px;
    }

    .desserts img{
        width: 100%;
        height: 60vh;
    }

    .dessert-container{
        display: block;
        margin-bottom: 100px;
    }

    .dessert-text{
        width: 80%;
        padding: 20px 20px;
        float: center;
        margin-bottom: 100px;
   
    }
}