*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../samples/black_and_white.jpg");

}

body h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.price{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}

.coperto{
  background-color: #333;
  width: fit-content;
}

.coperto p{
  padding: 10px;
  font-size: 20px;
}
 


/* navbar*/

  nav {
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .topnav .icon {
    display: none; 
}
  
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: rgb(243, 187, 2);
  }
  
  .checkbtn {
    font-size: 3em;
    color: white;
    cursor: pointer;
    display: none;
    float: left;
  }
  
  #check {
    display: none;
  }
  

.logo{
    max-width: 7em;   
    padding: 0;
    margin: 0;
    float: left;
}

.price{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}


/*Le salse*/
.salse{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 30px 70px;
  font-size: 2em;
  float: center;
  
  border-radius: 5px;
  height: fit-content;
  background-color: rgb(254, 213, 229);
  border-left: 20px solid rgb(172, 12, 12);
}

.salse h2, .salse p{
  float: center;
  color: rgb(172, 12, 12);
}

/*info point*/
.more-info{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 80%;
  padding: 30px 70px;
  font-size: 2em;
  float: center;
  border-radius: 5px;
  height: fit-content;
  background-color: rgb(24, 105, 227);
  border-left: 20px solid rgb(17, 56, 114);
}

.more-info h2, .more-info p{
  float: center;
  text-align:center;
  color: whitesmoke;
  padding-bottom: 13px;
}

/*Button menu*/

.btn-container{
    margin-left: 20%;
    margin-right: auto;
    max-width: 80%;
    z-index: -1;
}
.btn-menu{
    /* position:relative; */
    /* float: center; */
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    margin-top: 90px;
    max-width: cover;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(243, 187, 2);
    border-color:black;
    box-shadow: 5px 7px rgba(0,0,0,0.47);
    z-index: -1;
}

.btn-menu span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-menu span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-menu:hover span {
    padding-right: 25px;
}
  
.btn-menu:hover span:after {
    opacity: 1;
    right: 0;
}

.btn-promo{
  position:relative;
  color: white;
  text-align: center;
  font-size: 32px;
  padding: 20px;
  margin-top: 180px;
  width: 600px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(194,221,242);
  border-color:rgb(194,221,242);
  
  box-shadow: 5px 7px rgba(0,0,0,0.47);
}

.btn-allergen{
  position:relative;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  margin-top: 40px;
  margin-left: 50%;
  width: 600px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(11, 111, 188);
  border-color:rgb(194,221,242) ;
  box-shadow: 5px 7px rgba(0,0,0,0.47);
}

.btn span, .btn-promo span, .btn-allergen span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after, .btn-promo span:after, .btn-allergen span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span, .btn-promo:hover span, .btn-allergen:hover span {
  padding-right: 25px;
}

.btn:hover span:after, .btn-promo:hover span:after, .btn-allergen:hover span:after{
  opacity: 1;
  right: 0;
}

.text-lg{
  color: rgb(243, 187, 2);
  text-align: center;
  font-size: 50px;
  
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #f4f4f4;
    padding: 30px 0;
    font-family: 'Arial', sans-serif;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width:fit-content;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section div {
    flex: 1;
    margin: 10px;
}

.footer-section h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #fff;
}

.footer-section p {
    font-size: 0.8em;
    line-height: 1.6;
    color: #ddd;
}

.footer-section .social a {
    font-size: 35px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section .social a:hover {
    color: #ff8c00; /* Cambia il colore durante l'hover */
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #444;
    font-size: 1em;
    color: #ccc;
}

.footer-copyright p {
    margin: 0;
    color: #aaa;
}


@media(max-width: 980px){

    /*Topnav stuff*/
    .checkbtn {
        display: block;
        order: 1;
        margin-right: 20px;
      }
    
      ul {
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: rgb(41, 41, 41);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
      }
    
      ul li {
        margin: 20px 0;
      }
    
      ul li a {
        font-size: 2em;
      }
    
      #check:checked ~ ul {
        right: 0;
        z-index: 2;
      }
    
    .btn-menu{
        width: 60%;
        margin-left: 20%;
        float: center;
        z-index: -1;
    }
    
    .btn-menu a, .btn-menu span{
        font-size: 50px;
    }

    .btn-promo{
      position:relative;
      color: white;
      text-align: center;
      font-size: 34px;
      padding: 20px;
      margin-top: 10px;
      margin-bottom: 30px;
      z-index: -1;

     margin-right: auto;
     width: 80%;
     margin-left: 15%;
      transition: all 0.5s;
      cursor: pointer;
      border-radius: 20px;
      background-color: rgb(194,221,242);
      border-color:rgb(194,221,242);
      box-shadow: 5px 7px rgba(0,0,0,0.47);
  }

  .btn-allergen{
      font-size: 28px;
      padding: 20px;
      margin-top: 10px;
      margin-bottom: 30px;
      margin-left: 15%;
      width: 80%;
      z-index: -1;
  }

    .logo{
        max-width: 10em;
        z-index: -1;
       }
    
    
    .coperto{
        width: 50%;
    }
     
    .coperto p{
      font-size: 40px;
    }

    .salse p{
      font-size: 40px;
    }

    .salse h2{
      font-size: 50px;
  }
   
    /*Footer stuff*/
      footer{
        height: cover;
        max-width: fit-content;
	    }

}
